.jumbotron {
    background-color: #F98404;
    padding-top: 5rem;
}

.imgnaruto {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.37);
}

.imgnaruto:hover {
    transform: scale(1.2);

}

.txtabout1 {
    box-shadow: 0px 0px 7px rgb(0, 0, 0);
    border-radius: 7px;
    margin: 10px;
    border: 5px solid black;
    background: rgb(255,175,0);
    background: linear-gradient(180deg, rgba(255,175,0,1) 0%, rgba(255,239,0,1) 100%);
}
.txtabout2 {
    box-shadow: 0px 0px 7px rgb(0, 0, 0);
    border-radius: 7px;
    margin: 10px;
    border: 5px solid black;
    background: rgb(255,175,0);
    background: linear-gradient(180deg, rgba(255,175,0,1) 0%, rgba(255,239,0,1) 100%);
}

#projects {
    background-color: #F98404;
}

.j1, .j2, .j3 {
    box-shadow: 0px 0px 5px #9b5205;
}

.kata-kata {
    background-image:url(nartobijumode.webp);
    padding-bottom: 50px;
    background-size: cover;
}



#contact .card {
    padding: 30px;
    box-shadow: 0px 0px 5px rgb(153, 153, 153);
    animation-name: warna;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    color: black;
}

#contact .card:hover {
    box-shadow: none;
    box-shadow: 0px 0px 5px rgb(53, 52, 52);
}

#contact a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: black;
    text-decoration: none;
}

#contact a:hover {
    color: white;
}

footer {
    background-color: #F98404;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

@keyframes warna {
    0%   {background-color: #F98404;}
    25%  {background-color: #ff8623;}
    50%  {background-color: #ff580b;}
    100% {background-color: #b91c08;}
  }

  @font-face {
	font-family: 'Ninja Naruto';
	src: url('Ninja Naruto V1.ttf');
	src: url('Ninja Naruto V1.ttf') format('ttf'),
	     url('Ninja Naruto V1.ttf') format('truetype');
}